@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Libre+Baskerville&family=Poppins&display=swap');


* {
    font-size: 2vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-size: 5vh;
    font-family: 'Fjalla One', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(231, 231, 231);
}

body {
    background-color: rgb(248, 255, 249);
}

#banner-first {
    width: 60%;
    background-image: url("../img/webresources/cat-banner.jpg");
    background-color: rgb(13, 80, 60);
    background-position: left;
    /* background-size: cover; */
}

#banner-second {
    width: 35%;
}

.servicesDescription {
    padding: 2em 20%;
}

footer>div {
    width: 30%;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: rgb(154, 255, 157);
}

li {
    list-style-type: none;
}

#breadcrumb a,
#infAnimalDesc a,
#mapaweb a {
    color: blue;
    text-decoration: underline;
}


#animals a {
    color: blue;
}

#mainAnimals {
    display: flex;
}

#infAnimal {
    display: flex;
    flex-direction: row;
}

#infAnimalCarousel {
    width: 20rem;
    margin-right: 2em;
}

#infAnimalDesc {
    padding: 3em;
}

#sh-stores .card:hover,
#content .card:hover {
    transform: scale(1.1);
    background-color: rgb(206, 251, 243);
    cursor: pointer;
}

tbody tr:hover {
    background-color: rgb(206, 251, 243);
    cursor: pointer;
}

tbody td,
th {
    font-size: 0.8em;
}

#sh-content {
    padding: 1em;
}

#sh-content img {
    height: 150px;
}

#showProdHelp {
    font-size: 0.7em;
}

.card {
    width: 13rem;
}

.card-text {
    font-size: 2vh;
}

#product img {
    height: auto;
    width: auto;
    max-height: 25em;
    max-width: 25em;
}

iframe {
    max-width: 600px;
    max-height: 500px;
}

#Info {
    display: flex;
}

.Infodiv {
    padding: 3em;
    font-size: 1vh;
}

#services {
    padding: 3em;
}

#product {
    display: flex;
}

.--prodManga {
    background-color: rgb(232, 243, 253);
}

.--prodPlant {
    background-color: rgb(237, 255, 231);
}

.--prodFurniture {
    background-color: rgb(255, 227, 243);
}


#info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1vw;
}

.contrast {
    /* background-color: red; */
    color: black;
}

@media screen and (max-width:1000px) {
    #Info {
        flex-direction: column;
    }

    .Infodiv {
        padding: 0em;
    }

    iframe {
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width:800px) {
    #publi img {
        width: 100%;
    }

    #info {
        width: 100%;
        flex-direction: column;
    }

    #banner-first {
        margin-bottom: 1em;
    }

    #info div {
        width: 100%;
    }

    #card {
        width: 20rem;
    }

    #infAnimal {
        flex-direction: column;
    }

    #infAnimalCarousel {
        width: 100%;
        margin-right: 0em;
    }

    #Info {
        display: flex;
        flex-direction: row;
    }


    #Info h1 {
        width: 100%;
    }

    #divtiendas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #product {
        flex-direction: column;
    }

    #mainAnimals {
        flex-direction: column;
    }

    #Info {
        flex-direction: column;
    }

    .Infodiv {
        padding: 0em;
    }

    iframe {
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width:500px) {
    .card {
        width: 100%;
    }

    #services {
        padding: 0em;
    }

    #sh-content {
        padding: 0em;
    }

    #infAnimalDesc {
        padding: 0em;
    }

    #Info {
        flex-direction: column;
    }

    .Infodiv {
        padding: 0em;
    }

    iframe {
        width: 100%;
        height: 400px;
    }
}